*,
*::before,
*::after {
    box-sizing: border-box;
}

:root{
    --darkest-color: #1d2e38;
    --dark-color: #466971;
    --light-color: #f5edd5;
    --lightest-color: #f1efe7;
}

html{
    height: 100%;
}
body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--darkest-color);
    background-color: var(--light-color);
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

h2{
    text-align:center;
}
section{
    padding: 1em;
}



/* licni podaci */
.section-licni-podaci{
    background-color: var(--dark-color);
    color: var(--lightest-color);
}

/* radno iskustvo */

.radno-iskustvo-item{
    background-image:linear-gradient(var(--darkest-color), var(--dark-color),var(--darkest-color)) ;
    color: var(--lightest-color);
    padding: 1.5em;
    margin: 0.5em;
    width: 100%;
    box-shadow: .25em .25em .5em var(--darkest-color);
    
}
.radno-iskustvo-item:hover{
    background-image:linear-gradient(var(--darkest-color), var(--darkest-color)) ;
}
.radno-iskustvo-item div{
    text-align: center;
}


/* obrazovanje section */

.section-obrazovanje{

}


/* footer */
.footer{
    margin-top: auto;
    background-color: var(--darkest-color);
    color: white;
    padding: 5px;
}
.footer-list{
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.footer-list li{
   display: inline-block;
   padding-right: 15px;
   padding-top: 3px;
}

@media (min-width: 800px){
    div{
        font-size: 1.3em;
    }
    h1{
        font-size: 3.5em;
    }
    h2{
        font-size: 2.5em;
    }


    .radno-iskustvo-container{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
    }
    

}
/*

boje https://mycolor.space/?hex=%23F5EDD5&sub=1
#f5edd5
#c2ccb5
#92ac9c
#688b87
#466971
#2f4858

*/